<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <httpRequestBegin>
        <processor type="Sitecore.PatchableIgnoreList.ProcessPatchedIgnores, Sitecore.PatchableIgnoreList"
                   patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.IgnoreList, Sitecore.Kernel']">
          <Paths hint="list:AddPaths">
            <api>/api</api><!-- this is a sample route to ignore from Sitecore -->
          </Paths>
        </processor>
      </httpRequestBegin>
    </pipelines>
  </sitecore>
</configuration>